<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnon Phukerd</title>
</head>
<body>
    <header>
        <a class="navbar" href="/profile">Home</a>
        <a class="navbar" href="/profile/education">Education</a>
        <a class="navbar" href="/profile/aboutme">About Me</a>
        <a class="navbar" href="/profile/workexperience">My Work Experience</a>
        <a class="navbar" href="/profile/skill">My Skill</a>
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>