<div class="education">
    
        <div class="info-edu">
            <h1 class="num-edu">01</h1>
            <h2 class="p-edu">Primary Education</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <h1 class="num-edu">02</h1>
            <h2 class="p-edu">High education</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <h1 class="num-edu">03</h1>
            <h2 class="p-edu">University education</h2>
            <p class="school">{{myData.university}}</p>
        </div>
    
</div>