<div class="box-home">
    <img src="../profileimg.jpg" alt="deffer">
    <div class="text-home">
        <h1 class="name-home">{{myData.name}}</h1>
        <p class="welcome-text">{{myData.welcome}}</p>
        <p class="welcome-text">{{myData.welcome2}}</p><br><br>
        <a class="seemore" href="/profile/aboutme">See more</a>
    </div>
</div>