<div class="education">
    
        <div class="info-skill" >
            <h1 class="num-skill">{{myData.css}}</h1>
            <h2 class="p-skill">CSS</h2>
        </div>
        <div class="info-skill">
            <h1 class="num-skill">{{myData.php}}</h1>
            <h2 class="p-skill">PHP</h2>
        </div>
        <div class="info-skill">
            <h1 class="num-skill">{{myData.html}}</h1>
            <h2 class="p-skill">HTML</h2>
        </div>
</div>